params {
  project_folder      = "$PWD"
  bamcoverage_output  = "bamcoverage_output"

  bam_pattern         = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-chipfilter/chipfilter_output/*.clean.bam"
  bam_list            = null   // optional TSV: sample_id <tab> bam_path

  binSize             = 20
  normalizeUsing      = "RPGC"
  effectiveGenomeSize = 2468088461
  blacklist           = null

  extendReads         = 150
  centerReads         = true
  ignoreDuplicates    = true

  smoothLength        = 60
  minMappingQuality   = 10
  samFlagExclude      = null
  scaleFactor         = null

  require_bai         = true
  extra_args          = ""

  container_deeptools = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/deeptools-3.5.6.sif"
  extra_mounts        = ""
  queue               = 'cpu_p'

  bamcoverage_cpus    = 14
  bamcoverage_memory  = "16 GB"
  bamcoverage_time    = "4h"
}

profiles {
  local {
    process.executor = 'local'
  }

  hpc {
    includeConfig "${baseDir}/configs/slurm.config"
  }
}
