process {
  executor = 'slurm'
  queue    = params.queue
  container = params.container_deeptools

  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  withName: bamcoverage {
    cpus   = params.bamcoverage_cpus
    memory = params.bamcoverage_memory
    time   = params.bamcoverage_time
  }
}

singularity {
  enabled    = true
  autoMounts = true
  runOptions = params.extra_mounts
}
